@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotation {
    0% {
        --gradient-angle: 0deg;
    }

    100% {
        --gradient-angle: 360deg
    }
}

* {
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-weight: 200;
    list-style-type: none;
}

html {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}

body {
    font-family: 'Roboto', sans-serif;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
    align-items: center;
    letter-spacing: -0.022px;
    background-color: var(--bgcolor);
    height: 100%;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    justify-content: center;
}

:root {
    --txtcolor: rgb(201, 201, 201);
    --txxtcolor: rgb(89, 85, 85);
    --bgcolor: #0b071c;
    --my: #286ef0;


}

.section {
    padding-left: 25px;
    align-items: center;
    justify-content: center;
    padding-right: 25px;
    overflow: hidden;
    flex-wrap: wrap;
}

.navbar {
    display: none;
}

section {
    padding-left: 25px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-right: 25px;
    flex-wrap: wrap;

}


.logo img {
    padding-bottom: 4px;
    padding-top: 5px;
}

header {
    padding-top: 0px;
    align-items: first baseline;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    height: 55px;
    border-bottom: 1px solid var(--txxtcolor);
}

.header {

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;

    box-shadow: 0 2 900px rgb(104, 103, 103);
    width: 99.9%;
    z-index: 10;

}

.nav-section {
    display: flex;
}

.nav-section i {
    font-size: 20px;
    padding-top: 10px;
    padding-right: 10px;
    color: var(--txtcolor);
    cursor: pointer;
    display: none;

}

.nav-section h4 {
    color: white;
    padding-right: 15px;
    font-weight: 4px;
    color: var(--txtcolor);
}

.nav-section h4:hover {
    color: white;
    cursor: pointer;
}

.end {
    align-self: center;
    text-align: center;
    margin-right: -10px;
}

.middle {
    align-self: center;
    padding-left: 200px;
}

.bttn {
    margin-right: 10px;
    padding: 8px 10px;
    border-radius: 4px;
    border: 0.1px solid rgb(140, 140, 140);
}

.bttn:hover {
    color: var(--my) !important;
    border: 0.5px solid var(--my);
    transition: ease-in .3s;
    box-shadow: 0 0 10px var(--my),
        0 0 4px var(--my);
}

.hero {
    text-align: center;
    height: 100%;
}

.hero-img {
    width: 800px;
    margin-top: -50px;
}

.submit-request {
    text-align: center;
    margin-top: 50px;
    transform: translateY(-30px);
   
}

.hero h1 {
    font-size: 60px;
    font-weight: 300px;
    margin-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
}

.tech {
    display: none;
}

.hero h5 {
    font-size: 30px;
    font-weight: 10;
    padding-top: 5px;
    color: var(--txtcolor);
    background: linear-gradient(90deg, #02fbff, #fc00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.brt {
    display: flex;
    flex-direction: column;
}

.hero .btn {

    transform: translateY(-30px);
}

.btn {
    padding: 11px 20px !important;
    color: white;
    border-radius: 15px !important;
    z-index: 9;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    position: relative;
    border: 1px solid var(--my);
}

.btn::before,
.btn::after {
    content: "";
    padding: 11px 20px !important;
    position: absolute;
    inset: 0;
    z-index: -1;
    background: linear-gradient(var(--gradient-angle),
            var(--bgcolor),
            var(--bgcolor),
            var(--txxtcolor),
            var(--bgcolor),
            var(--bgcolor));
    border-radius: 14px !important;
    animation: rotation 5s ease-in-out infinite;
}

.btn::after {
    filter: blur(10px);
}

.portfolio {
    background-color: var(--bgcolor);
    min-height: 800px;
    color: white;
}

.heading {
    color: white;
    font-size: 40px;
    text-align: center;
}

.portfolio-items {
    flex-wrap: wrap !important;
    justify-content: space-evenly;
    padding-left: 190px;
    padding-right: 190px;
    display: flex;
}


.container {
    padding: 20px;
    align-items: center;
    text-align: center;
    width: 215px;
    height: 180px;
    border-radius: 15px;
    margin-bottom: 20px;
    border: 1px solid var(--txxtcolor);
    position: relative;
    cursor: pointer;
}

.container:hover::before {
    opacity: 100%;

}

.container::before {
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.06),
            transparent 30%);
    content: "";
    border-radius: inherit;
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 500ms;
    left: 0;
    top: 0;

}





.recent {
    text-align: center;
    background-color: var(--bgcolor);
    z-index: -1;
    
}

.why-us {
    color: unset;
    margin: auto;
    font-weight: 700;


    padding-bottom: 20px;
    padding-top: 90px;
    color: white;
    font-size: 30px;
}


.image-container {
    position: relative;
    display: inline-block;
    margin-top: 20px;
  }
  
  .image-container img {
    display: block;
    border-radius: 10px;
    z-index: 1;
    position: relative;
  }
  .brand-img{
  width: 500px;
  }
  .image-container::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 15px;
    pointer-events: none;
    animation: glow 2s ease-in-out infinite;
    z-index: 0;
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.9);
  }
  
  @keyframes glow {
    0%, 100% {
        box-shadow: 0 0 5px rgba(255, 204, 0, 0.7), 0 0 10px rgba(0, 255, 234, 0.7);
    }
    50% {
        box-shadow: 0 0 15px rgba(43, 255, 0, 0.7), 0 0 20px rgba(255, 0, 0, 0.7);
    }
    100% {
      box-shadow: 0 0 5px rgba(251, 0, 255, 0.7);
    }
  }
  

.normal {
    font-size: 22px;
    color: var(--txtcolor);
    font-weight: 200;
}

.bold {
    font-weight: 400;
    color: white;
    font-size: 20px;
    background: linear-gradient(106.62deg, rgb(0, 255, 234) 6.68%, rgb(186, 44, 184) 82.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.about-me {

    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-around;
}

.in-pic {
    width: 150px;
    border-radius: 1px;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    display: flex !important;
    flex: 0 0 50.33%;
}

.my-pic h3 {
    padding-top: 20px;
    font-weight: 300;

    color: var(--txtcolor);
}

.what-is h4 {
    line-height: 25px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    color: var(--txtcolor);
}

.what-is {

    flex: 0 0 100% !important;
    text-align: left;
    max-width: 600px;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}

.what-is h3 {
    color: var(--txtcolor);
    text-align: left;
}

.try-bg-3 {
    position: relative;
}

.try-bg-3::before {
    content: "";
    position: absolute;
    background: linear-gradient(360deg, #232428 22.11%, #5E7CF1 40.73%, #1E6BFF 99.78%, #133E04 69.88%, #9BCFF2 99.56%);
    width: 764px;
    height: 305px;
    opacity: 100%;
    z-index: -1;
    filter: blur(160px);
    border-radius: 50%;


    top: -200px;
    left: 25%;
}




.try-bg {
    position: relative;
    left: 0%;
}

.try-bg::before {
    content: "";
    position: absolute;
    background: linear-gradient(360deg, #232428 22.11%, #5E7CF1 40.73%, #1E6BFF 94.78%, #00c3ff 99.88%, #9BCFF2 89.56%);
    width: 404px;
    height: 205px;
    opacity: .7;
    filter: blur(160px);
    border-radius: 50%;
    top: -90px;
    left: 35%;
}

.try-bg-2 {
    position: relative;
    left: 1%;
}

.try-bg-2::before {
    content: "";
    position: absolute;
    background: linear-gradient(360deg, #232428 22.11%, #5E7CF1 40.73%, #1E6BFF 54.78%, #133E04 69.88%, #9BCFF2 89.56%);
    width: 404px;
    height: 205px;
    opacity: .4;
    filter: blur(160px);
    border-radius: 50%;
    top: 200px;
    left: -10%;
}


.try-bg-5 {
    position: relative;
    left: -70%;
}

.try-bg-5::before {
    content: "";
    position: absolute;
    background: linear-gradient(2.56deg, #ac5ec8 2.11%, #e04eca 4.73%, #ec78cb 5.78%, #e643ef 69.88%, #dcdad8 8.56%);
    width: 504px;
    height: 205px;
    opacity: .4;
    filter: blur(180px);
    border-radius: 50%;
    top: -390px;
    left: 30%;
}

.try-bg-6 {
    position: relative;
    left: -400px;
}

.try-bg-6::before {
    content: "";
    position: absolute;
    background: linear-gradient(2.56deg, #08c985 2.11%, #09ce3b 4.73%, #02e424 5.78%, #008c0c 69.88%, #046a1d 8.56%);
    width: 504px;
    height: 205px;
    opacity: .4;
    filter: blur(180px);
    border-radius: 50%;
    top: -150px;
    left: 30%;
}

.try-bg-7 {
    position: relative;
    left: -70%;
}

.try-bg-7::before {
    content: "";
    position: absolute;
    background: linear-gradient(2.56deg, #0260ee 2.11%, #06deff 4.73%, #014273 5.78%, #052444 69.88%, #7cafc9 8.56%);
    width: 504px;
    height: 205px;
    opacity: .4;
    filter: blur(180px);
    border-radius: 50%;
    top: -290px;
    left: 30%;
}

.try-bg-8 {
    position: relative;
    left: -400px;
}

.try-bg-8::before {
    content: "";
    position: absolute;
    background: linear-gradient(2.56deg, #fc42ef 2.11%, #920283 4.73%, #ff0088 5.78%, #400254 69.88%, #b9c3c8 8.56%);
    width: 504px;
    height: 205px;
    opacity: .4;
    filter: blur(180px);
    border-radius: 50%;
    top: -20px;
    left: 30%;
}
















.call-ta {
    max-width: 7 00px;
    margin-top: -10px;
    z-index: 9;
    color: var(--txtcolor);
}

.call-ta h2 {
    font-weight: 400;
    font-size: 20px;
    color: white;
}

.call-ta h4 {
    font-weight: 200;
    font-size: 17px;
    color: var(--txtcolor);
}

.beside-testimonial {
    color: var(--txtcolor);
    align-items: center;
    margin-bottom: 30px;
}

.smaller {
    font-weight: 200;
    text-align: center !important;
    background: linear-gradient(106.62deg, rgb(0, 255, 234) 6.68%, rgb(186, 44, 184) 82.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.beside-testimonial .btn {
    margin-top: 10px;
}

.question {
    display: flex;
    height: 30px;
    padding-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    color: white;
    justify-content: space-between;
}

.question h2 {
    margin-top: 30px;
    font-weight: 100;
}

.answer h4 {
    font-weight: 100;
}

.action {


    margin-top: 10px;
    border: 2px solid var(--txxtcolor);
    border-radius: 10px;
    width: 600px;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;

}

.action i {
    margin-top: 10px;
}

.answer {
    max-height: 0px;
    overflow: hidden;
    color: var(--txtcolor);
    cursor: pointer;
    transition: max-height .5s ease;
}

.action.active .answer {
    max-height: 300px;
    animation: .5s ease-in;
}

.action.active i {
    transform: rotate(45deg);

}

i {
    transition: ease-in .5s;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.tried-2 {
    display: flex;
   
    background-color: var(--bgcolor);
    padding-top: 130px;
    align-items: flex-start;
    justify-content: center;
}

.tried {
    padding-bottom: 80px;
    z-index: 100;
    background-color: var(--bgcolor);
}

.tried h1 {
    font-weight: 200;
    width: 100%;
    font-size: 35px !important;
    text-align: center;
    color: white;
    margin-bottom: 80px;
}

.swiper-wrapper {
    justify-content: center;

}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    margin-left: 70px;
    filter: blur(4px);
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    background-size: cover;
    width: 340px !important;
    height: 200px !important;
}

.swiper-slide-visible {
    filter: blur(0px);
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.mySwiper .swiper-slide-shadow-left,
.mySwiper .swiper-slide-shadow-right {
    background-image: none;
}




.testimonial {
    justify-content: center;
    display: flex;
    height: 500px !important;
    margin-bottom: 10px;
}



.testimonials {
    text-align: center;
    z-index: -2;
    margin-top: 90px;
}

.testimonial-card {
    border: 1px solid var(--txxtcolor);
    width: 100% !important;
margin-top: -100px;
    position: relative;
    height: 360px !important;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    text-align: start;
    padding: 20px 20px;
}

.testimonials h1 {
    color: white;
    margin-bottom: 50px;
    font-size: 35px;
}
.testimonial-card h3 {
   font-weight: 100 !important;
}

.testimonial-card h4 {
    font-weight: 500;
}

.testimonial-img {
    width: 70px !important;
    border-radius: 50%;

}

.testimonial h3 {
    color: var(--txtcolor);
}
.identity h4{
        margin-top: -10px;
}
.identity{
    padding-right: 60px !important;
}
.names{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  align-self: self-end !important;
}
.names h4,
h5 {
    color: var(--txtcolor);
}

.procedure-heading h1 {
    color: white;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 50px;
    text-align: start;
    max-width: 900px;
}

.procedures {

    margin-top: 100px;

    display: block;
    color: var(--txtcolor);
    justify-content: space-between;
}

.procedure-heading h3 {
    text-align: start;
    background: linear-gradient(90deg, #02fbff, #fc00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 900px;
    font-weight: 200;
}

.procedure-heading {
    padding-left: 70px;
  
    margin-bottom: 20px;
}


.procedure h5 {
    font-weight: 400;
}


.container h3,
h2,
h5 {
    margin-bottom: 10px;
}

.container .q {
    margin-bottom: 10px;
    border-radius: 12px;
    background-image: linear-gradient(135deg, #47b8ff, #052c7a) !important;
    box-shadow: 0 0 35px #51a9e0;
    display: inline-block;
    padding: 17px 20px 17px;

}

.container .w {
    margin-bottom: 10px;
    border-radius: 12px;
    background-image: linear-gradient(135deg, #5bed53, #078101) !important;
    box-shadow: 0 0 35px #5bed53;

    display: inline-block;
    padding: 17px 20px 17px;

}

.container .e {
    margin-bottom: 10px;
    border-radius: 12px;
    background-image: linear-gradient(135deg, #f74f4f, #e60808) !important;
    box-shadow: 0 0 35px #f74f4f;

    display: inline-block;
    padding: 17px 20px 17px;

}

.container .r {
    margin-bottom: 10px;
    border-radius: 12px;
    background-image: linear-gradient(135deg, #eb8055, #d73d00) !important;
    box-shadow: 0 0 35px #eb8055;
    display: inline-block;
    padding: 17px 20px 17px;

}

.container .t {
    margin-bottom: 10px;
    border-radius: 12px;
    background-image: linear-gradient(135deg, #ec7897, #f20141) !important;
    box-shadow: 0 0 35px #ec7897;
    display: inline-block;
    padding: 17px 20px 17px;

}

.procedure {
    display: flex;
    justify-content: space-evenly;

    flex-wrap: wrap;
}

.lets-work {
    text-align: center;
    color: var(--txtcolor);
    z-index: -4;
    margin-top: 100px;
}

.lets-work .btn {
    margin-top: 20px;
}

.lets-work h1 {
    font-size: 40px;
    margin-top: 20px;
    color: var(--txtcolor);
}

.lets-work h2 {
    font-weight: 400;
}

.lets-work h1 span {
    text-shadow: 0px 3px var(--my);
}

.name-brand {
    display: flex;
    justify-content: space-evenly;
    max-width: 400px;
}

.name-brand h4 {
    margin-top: -20px;
}

.right-img {
    border-left: 1px solid var(--txxtcolor);
    margin: auto;

}

.m-l {
    margin-left: 20px;
}

.m-r {
    margin-right: 20px;
}

.testimonial-2-items {
    max-width: 500px;
}

.testimonial-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
    transform: translateX(-1px);
    justify-content: space-evenly;
}

.service {
    margin-top: 80px;



    color: var(--txtcolor);


}

.service-card:hover::before {
    opacity: 100%;

}

.service-card::before {
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.06),
            transparent 30%);
    content: "";
    border-radius: inherit;
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 500ms;
    left: 0;
    top: 0;

}

.fit {
    object-fit: fill;
}


.service-card {
    width: 320px;
    margin-bottom: 50px;


    justify-content: center;
    padding: auto;
    display: block;
    color: white;
    height: 250px;
    border-radius: 15px;
    position: relative;
    background-color: #211d2e;
    cursor: pointer;
    border: 1px solid var(--txxtcolor);
    text-align: center;
}

.service-card i {
    color: white;
    font-size: 15px;
    margin-right: 1px;
}

.card-bottom {
    text-align: start;
    display: grid;

}


.service-card .hh {
    max-height: 0px;
    overflow: hidden;
    margin-top: 10px;
    cursor: pointer;
    transition: max-height .5s ease;
}

.service-card h4 {
    font-weight: 100;
    font-size: 14px;
    color: rgb(220, 215, 215);
    padding-left: 30px;

}

.firstcard {
    position: relative;
    top: -40px;

}

.card {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 0;
    margin-top: 30px;
    position: relative;
}

.carditem {
    width: 500px;
    height: 300px;
    margin: auto;
    border: 1px solid var(--txxtcolor);
    display: block;
    border-radius: 15px;
}

.content {
    width: 500px;
    height: 300px;
    text-align: left !important;
    border-radius: inherit;
    top: 0px;
    position: absolute;
    background: rgba(0, 0, 0, 0.69);
    display: flex;
    justify-content: center;

    align-items: center;
    flex-direction: column;

    border-radius: 15px;
    overflow-y: hidden !important;
    transition: .5s ease;
}
.content h4{
    color: var(--txtcolor);
}
.content:hover {
    opacity: 1;
}

.secondcard {
    position: relative;
    top: -40px;
    left: 4px;
}
.content-btn{
    padding: 8px 15px;
    background: linear-gradient(90deg,  rgb(111, 1, 162), #035ad4);
    border-radius: 10px;
    color: var(--txtcolor);
    margin-top: 5px;
  
}


.service-card h3 {
    font-weight: 800;
    margin-bottom: 7px;
    font-size: 15px;

}

.service-card:hover .hh {
    max-height: 30px;

}

.service-card:hover span i {
    color: rgb(0, 170, 255);

}

.hh i {
    font-size: 10px;
    padding-bottom: 20px;

}

.faq {
    color: var(--txtcolor);
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-top: 80px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.frequent .btn {
    margin-top: 20px;
}

.frequent h1 {
    font-size: 40px;
}

.cal-ta {
    text-align: left !important;
    max-width: 600px;
    z-index: 10;
    color: var(--txtcolor);
}

.action-2 {
    border: 2px solid var(--txtcolor);
    padding: 10px 20px;
}

.foot {
    text-align: center;
    margin-top: 80px;
    color: var(--txtcolor);
}

.foot h1,
h2 {
    margin-top: 20px;
}

.foot h1 {
    font-size: 40px;
    color: white;
}

.foot h2 {
    font-weight: 400;
    color: var(--txtcolor);
}

.foot .btn {
    margin-top: 10px;
    margin-bottom: 20px;
}

hr {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(75, 104, 104, 55), rgba(0, 0, 0, 0)) !important;
    height: 1px;
    border: none;
    margin: px 2px;
}


.hr {
    display: flex;
    margin: 20px 2px;
}

footer {
    margin-top: 80px;
    text-align: center;
}

footer p {
    color: var(--txtcolor);
    margin: 10px;
}

.footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer .middlee,
.endd {
    display: grid;
    text-align: center;
}

.footer a {
    margin-top: 20px;
    color: var(--txtcolor);
}

.footer i {
    margin-right: 3px;
}

.aside {
    text-align: center !important;
    display: grid;
    align-items: center;
    width: 70%;
    height: 100%;
}

.aside div {
    width: 100px;
}



@media(max-width:1157px) {
    .nav-section i {
        display: initial;
        margin-left: -25px;

    }

    .nav-section a {
        display: none;
    }
}

@media(max-width:820px) {

    section {
        padding-left: 30px;
        padding-right: 30px;
    }

    .card {
        margin-top: 20px;
    }

    .carditem {
        width: 305px;
        height: 150px;
    }

    .content {
        width: 305px;
        height: 150px;

    }

    .portfolio-items {
        padding-left: 0px;
        padding-right: 0px;
    }

    .procedure{
        display: flex;
        justify-content: center;
    }

    .testimonial h3 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .brand-img{
        width: 330px;
        }
    

    .hero h1 {
        font-size: 37px;
        font-weight: 600;
        padding-left: 0px;
        padding-right: 0px;
        line-height: 50px;
        margin-top: 150px;
        text-align: start;
    }

    .hero h5 {
        font-size: 20px;
        font-weight: 500;
        padding-top: 26px;
        text-align: start;
    }

    .service-card {
        margin-bottom: 20px;
    }

    .why-us {
        padding-top: 60px;
        font-weight: 900;
    }

    .normal {
        font-weight: 200;
        margin-top: 10px;

    }

    .bold {
        font-weight: 100;
        margin-top: -10px;
    }

    .heading {
        margin-top: 30px;
        font-size: 30px;

    }

    .about-me {
       
        display: grid;
    }

    .my-pic h3 {
        padding-top: 7px;
        font-weight: 10;
        text-align: start;
        font-size: 15px;
    }

    .what-is {
        margin-top: 30px;
    }

    .what-is h4 {
        font-weight: 100;


    }

    .testimonials {
        padding-top: 30px;
    }

    .testimonials h1 {
        line-height: 40px;
    }

    .testimonial-card {

        width: 90% !important;
        align-self: center;
    }

    .testimonial-card h3,
    h4 {
        font-weight: 100;
    }

    .tried {
        text-align: center;
        margin-top: -50px;
    }

    .tried h1 {
        font-size: 40px;
        margin-bottom: 0px;
        text-align: start;
        font-weight: 200;
    }

    .tried-2 {
        display: grid;
        flex-wrap: wrap;
        padding-top: 0px;
    }

    .beside-testimonial h1 {
        line-height: 50px;
       
    }

    .beside-testimonial .btn {
       margin-top: -10px;
    }
    .beside-testimonial{
        display: flex;
        margin-top: 10px;
        margin-bottom: 30px;
        flex-direction: column;
        align-items: center;
        justify-content: center !important;
    }

    .smaller {
        font-weight: 10;
    }

    .call-ta {
        margin-top: 30px;
    }

    .faq .call-ta {
        margin-top: 20px;

    }

    .action {

        margin-top: 10px;
        border: 1.6px solid var(--txxtcolor);
        border-radius: 10px;
        width: 99.9%;
        justify-content: center;
        align-items: center;
        padding: 5px 2px;
    }

    .container {
    margin-left: 2px;
    margin-right: 2px;
        width: 250px;
        height: 200px;
        cursor: pointer;
    }

    .container h3,
    h2,
    h5 {
        margin-bottom: 20px;
    }

    .container h2 {
        font-size: 30px;
    }

    .container h5 {
        font-size: 17px;
    }

    .question h2 {
        font-weight: 200;
        font-size: 18px;
        letter-spacing: 0px;
        color: white;
        text-align: left;
        padding-left: 10px;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .answer {
        font-weight: 1;
        font-size: 14px;
        text-align: left;
        color: var(--txtcolor);
        padding-left: 10px;
        padding-top: 10px;

    }

    .action i {
        margin-top: -10px;
        margin-right: 5px;
    }

    .procedure-heading {
       
        left: 0px;
        padding-left: 2px;
        padding-right: 2px;
    }

    .procedure-heading h1 {
        font-size: 35px;
        font-weight: 300;
        text-align: center !important;
        margin-bottom: 10px;
    }

    .procedure-heading h3 {
        text-align: center !important;
        font-weight: 100;
    }

    .lets-work h2 {
        font-weight: 100;
    }

    .service {
        margin-top: 80px;
    }

    .frequent {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .frequent h1 {
        font-size: 29px;
    }

    .foot h2 {
        font-weight: 100;
    }

    .foot h1,
    h2 {
        margin-top: 10px;
    }

    .footer {
        display: grid;
    }

    .try-bg {
        position: relative;
        left: 1%;
        transform: translateX(-7px);


    }

    .try-bg::before {
        content: "";
        position: absolute;

        background: linear-gradient(360deg, #9aa6d3 2.11%, #5E7CF1 40.73%, #1E6BFF 94.78%, #00c3ff 99.88%, #9BCFF2 99.56%);
        width: 30%;
        height: 205px;
        opacity: 100%;
        filter: blur(160px);
        border-radius: 50%;
        top: 20px;
        left: 25%;
    }

    .try-bg-3 {
        position: relative;

    }

    .try-bg-2::before {
        content: "";
        position: absolute;
        background: linear-gradient(360deg, #232428 22.11%, #5E7CF1 40.73%, #1E6BFF 54.78%, #133E04 69.88%, #9BCFF2 89.56%);
        width: 60%;
        height: 205px;
        opacity: 9;
        filter: blur(100px);
        border-radius: 50%;
        top: 80px;
        left: 10%;
    }

    .try-bg-3::before {
        content: "";
        position: absolute;
        background: linear-gradient(360deg, #232428 22.11%, #5E7CF1 40.73%, #1E6BFF 54.78%, #133E04 69.88%, #9BCFF2 89.56%);
        width: 40%;
        height: 305px;
        opacity: 9;
        z-index: -1;
        filter: blur(100px);
        border-radius: 50%;
        top: -180px;
        left: 25%;
    }

    .try-bg-5 {
        position: relative;
        left: -90%;
        transform: translateX(-7px);

    }

    .try-bg-5::before {
        content: "";
        position: absolute;
        background: linear-gradient(360deg, #ac5ec8 22.11%, #e04eca 40.73%, #ec78cb 54.78%, #e643ef 69.88%, #dcdad8 8.56%);
        width: 100%;
        height: 205px;
        opacity: .9;
        filter: blur(180px);
        border-radius: 50%;
        top: -600px;
        left: 30%;
    }

    .try-bg-6 {
        position: relative;
        left: -200px;


    }

    .try-bg-6::before {
        content: "";
        position: absolute;
        background: linear-gradient(2.56deg, #08c985 2.11%, #09ce3b 4.73%, #02e424 5.78%, #008c0c 69.88%, #046a1d 8.56%);
        width: 100%;
        height: 205px;
        opacity: .9;
        filter: blur(180px);
        border-radius: 50%;
        top: -150px;
        left: -10%;
    }

    .try-bg-7 {
        position: relative;
        left: -200px;



    }

    .try-bg-7::before {
        content: "";
        position: absolute;
        background: linear-gradient(2.56deg, #0260ee 2.11%, #06deff 4.73%, #014273 5.78%, #052444 69.88%, #7cafc9 8.56%);
        width: 100%;
        height: 205px;
        opacity: .9;
        filter: blur(180px);
        border-radius: 50%;
        top: -290px;
        left: 30%;
    }

    .try-bg-8 {
        position: relative;
        left: -200px;


    }

    .try-bg-8::before {
        content: "";
        position: absolute;
        background: linear-gradient(2.56deg, #fc42ef 2.11%, #920283 4.73%, #ff0088 5.78%, #400254 69.88%, #b9c3c8 8.56%);
        width: 100%;
        height: 205px;
        opacity: .9;
        filter: blur(180px);
        border-radius: 50%;
        top: -1500px;
        left: 30%;
    }

    .navbar {
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        width: 100%;
        justify-content: space-between;
        z-index: 19;
        height: 100%;
        align-items: flex-start;
        text-align: right;
        transform: translateX(2000px);
    }

    .navbar.open {
        height: 100%;
        left: 0;
        display: initial;
        transition: ease-in 1s;
    }

    .nav-me {
    margin-right: 24px;
        color: var(--txtcolor);
        margin-top: 1px;
    }

    .nav-me a {
        font-size: 28px;
        color: var(--txtcolor);
        line-height: 2;
    }

    .nav-me,
    .nav-section i {
        font-size: 30px;

    }

    .ennd {
        margin-top: 0;
    }

    .ennd a {
        color: white;
    }

    .tech {
        display: initial;
        width: 100%;
        transform: translateY(100px);
    }

    .hero-img {
        display: none;
    }

    .hero .btn {
        transform: translateY(0px);
        margin-top: 40px;
        align-self: self-start;
    }

    .left {
        text-align: start;
    }
    .identity h4{
        margin-top: -20px;
}
.heading-2{
    text-align: start;
    margin-left: 25px;
}
}